body{
  margin: 0;
  color: rgb(1, 71, 18);
  font-family: serif;
}
footer{
  background-color: #3e3e3e;
  color: rgb(153, 153, 153);
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 10pt;
  position: relative;
}
footer a,footer a:visited{
  color: rgb(153, 153, 153);
}

a{
  color: rgb(1, 71, 18);
  text-decoration: none;
}
a:visited{
  color:rgb(1, 71, 18);
}
.container-full {
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}
.container-nav{
  margin: 0 auto;
}
.header h1{
  margin-top: 13px;
  margin-bottom: 0;
  font-size: 15pt;
  text-align: center;
}
.header ul{
  list-style-type: none;
  margin-top:3px;
  margin-bottom: 3px;
  padding:0;
  text-align: center;
}
.header ul li{
  display: inline;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 4px;
  margin-bottom: 4px;
}
.header ul li a{
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 8pt;
}
.header ul li a:hover,
.header ul li a.active{
  color:white;
  background-color: #f30;
}
#me{
  width: 100%;
  display:none;
}
#me_narrow{
  width:100%;
  display:none;
}
#me_mini{
  width: 100%;
}
.logo a{
  color: rgb(1, 71, 18);
}
.primary-link.active {
}
header .primary-link {
  border-color: white;
}
header .primary-link {
  border-color: white;
}
.header-top{
  background-color: white;
}
.header{
  background-color: white;
}
.primary-link:hover,
.primary-link:active {
}

.logo a:hover,.logo a:active {
  color:#f30;
}
#talk{
  float:left;
  margin-top: 1em;
  font-size: 20pt;
  margin-bottom: 1em;
  display: none
}
#talk-medium{
  float:left;
  margin-top: 1em;
  font-size: 20pt;
  margin-bottom: 1em;
  margin-left: 16px;
  display: none
}
#talk-small{
  display: block;
  float:left;
  margin-top: 1em;
  font-size: 20pt;
  margin-bottom: 1em;
  margin-left: 8px;
  width: 50%;
}
#talk-btn{
  float:right;
  padding: 1em 1em 1em 1em;
  background-color: #3e3e3e;
  color: white;
  margin-right: 8px;
  margin-top: 1em;
}
#talk-btn:hover{
  color:white;
  background-color: #f30;
}

.talk-bar{
  font-weight: 900;
  height: 5.5em;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  background-color: rgb(243, 243, 243);
}
.clear{
  clear:both;
}
hr{
  clear:both;
}
a.social{
  display: inline-block;
  height: 48px;
  width:  48px;
  margin-right: 1.5em;
  /*border:1px solid rgb(187, 187, 187);*/
  border-radius: 3px;
}
.weibo{
  background-color: rgb(255, 215, 255);
}
.github{
  background-color: rgb(225, 223, 255);
}
.gitcafe{
  background-color: rgb(162, 226, 187);
}
.oschina{
  background-color: rgb(186, 236, 166);
}
a.social-last{
  margin-right: 0;
}
a.social:hover{
  background-color: #f30;
}
.social img {
  width: 30px;
  position: relative;
  top: 8px;
  left: 8px;
}
.social-group{
  margin-top: 1em;
  margin-left: 10px;
  margin-bottom: 2em;
}

.to-left {
  margin-left: 0;
}
#intro{
  /*width: 38em;*/
  font-size: 18px;
  line-height: 26px;
  margin-left: 10px ;
  margin-right: 10px;
}
#intro p{
  margin-top: 0;
}
#intro h1 {
  margin-top: 12px;
  margin-bottom: 10px; 
  font-size: 22px; 
}
#intro a{
  color: #f30;
  font-weight: 900;
}
#intro a:hover{
  color:black;
}
#me180x160 {
  float: left;
  margin-right: 1em;
}
.pull-right{
  margin-right: 0em;
}
.share_self{
  width: 300px;
  margin-left: 10px;
  display:none;
  margin-right: 0;
}
#sig img{
  width: 100%
}
#disclaimer{
  width: 300px;
  /*float:left;*/
  margin-left: 10px;
  font-size: 13pt;
  margin-right: 10px;
}
#disclaimer b{
  color: white;
}
#copyright{
  width: 300px;
  /*float:right;*/
  margin-left: 10px;
  font-size: 13pt;
  margin-right: 10px;
}
@media screen and (min-width: 390px){
  #me_mini{
    display: none;
  }
  #me_narrow{
    display: inline;
  }
}
/*weibo dispear*/
@media screen and (min-width: 450px){  
  #sig{
    display: none;
  }
}
@media screen and (min-width: 680px){
  .header h1{
    float:left;
    margin-left: 16px;
  }
  .left{
    float:left;
  }
  .header ul{
    float: right;
  }
  .header ul li a{
    font-size: 12pt;
  }
  .pull-right{
    margin-right: 0;
  }
  #talk-medium{
    display:block;
  }
  #talk-small{
    display: none;
  }
  #talk-btn{
    float:right;
    padding: 1em 1em 1em 1em;
    background-color: #3e3e3e;
    color: white;
    margin-right: 16px;
    margin-top: 1em;
  }
  .social-group{
    margin-left: 16px;
  }
  a.social{
    margin-right: 2em;
  }
  #intro{
    /*width: 38em;*/
    font-size: 18px;
    line-height: 26px;
  }
  #disclaimer{
    position: absolute;
  }
  #copyright{
    position: absolute;
    right:0;
  }
  footer{
    height: 30em;
  }
}
@media screen and (min-width:980px ){
  #talk-medium{
    display: none;
  }
  #talk{
    display:block;
  }
  #me{
    display:inline;
  }
  #me_narrow{
    display: none;
  }
  .container-full {
    max-width: none;
    margin-left: 7em;
    margin-right: 7em;
  }
  .share_self{
    display: block;
  }
  .pull-right{
    margin-right: 0;
  }
  #two_column{
    position: relative;
  }
  #wrap_intro{
    position: absolute;
    top:0;
    left:24em;
  }
  #disclaimer{
    width: 400px;
    left:7em;
  }
  #copyright{
    right:7em;
    top:2em;
  }
}