@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{
  margin: 0;
  color: rgb(1, 71, 18);
  /*font-family: serif;*/
  font-family: 'Open Sans', sans-serif, tahoma,arial,"Hiragino Sans GB",\5b8b\4f53;;
}
::-moz-selection {
  background-color: #dd2020;
  color: #fff;
}
 
::selection {
  background-color: #dd2020;
  color: #fff;
}
.cn p{
  text-indent: 2em;
}
img{
  border:0;
}
footer{
  background-color: #3e3e3e;
  color: rgb(153, 153, 153);
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 10pt;
  margin-top: 3em;
  position: relative;
}
footer a,footer a:visited{
  color: white;
  text-decoration: underline;
}
footer input[type="text"] {
  border: 5px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
  box-shadow: inset 0 0 8px rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
  width: 18em;
}
a{
  color: rgb(1, 71, 18);
  text-decoration: none;
}
a:visited{
  color:rgb(1, 71, 18);
}
.container-full {
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}
.container-nav{
  margin: 0 auto;
}
.header h1{
  margin-top: 13px;
  margin-bottom: 0;
  font-size: 15pt;
  text-align: center;
}
.header ul{
  list-style-type: none;
  margin-top:3px;
  margin-bottom: 3px;
  padding:0;
  text-align: center;
}
.header ul li{
  display: inline;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 4px;
  margin-bottom: 4px;
}
.header ul li a{
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 8pt;
}
.header ul li a:hover,
.header ul li a.active{
  color: #f30;
  /*background-color: #f30;*/
}
#me{
  width: 100%;
  display:none;
}
#me_narrow{
  width:100%;
  display:none;
}
#me_mini{
  width: 100%;
}
.logo a{
  color: rgb(1, 71, 18);
}
.primary-link.active {
}
header .primary-link {
  border-color: white;
}
header .primary-link {
  border-color: white;
}
.header-top{
  background-color: white;
}
.header{
  background-color: white;
}
.primary-link:hover,
.primary-link:active {
}

.logo a:hover,.logo a:active {
  color:#f30;
}
.talk{
  float:left;
  margin-top: 1em;
  font-size: 20pt;
  margin-bottom: 1em;
}
#talk{  
  display: none
}
#talk-medium{
  margin-left: 16px;
  display: none
}
#talk-small{
  display: block;
  margin-left: 8px;
  width: 50%;
}
#talk-btn{
  float:right;
  padding: 1em 1em 1em 1em;
  background-color: #3e3e3e;
  color: white;
  margin-right: 8px;
  margin-top: 1em;
}
#articles{
  margin-left: 16px;
}
#talk-btn:hover{
  color:white;
  background-color: #f30;
}

.talk-bar{
  font-weight: 900;
  height: 5.5em;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  background-color: rgb(243, 243, 243);
}
.clear{
  clear:both;
}
hr{
  clear:both;
}
#social-left{
  margin-right: 0;
}
a.social{
  display: inline-block;
  height: 48px;
  width:  48px;
  margin-right: 1.5em;
  /*border:1px solid rgb(187, 187, 187);*/
  border-radius: 3px;
}
.weibo{
  background-color: rgb(255, 215, 255);
}
.github{
  background-color: rgb(225, 223, 255);
}
.gitcafe{
  background-color: rgb(162, 226, 187);
}
.oschina{
  background-color: rgb(186, 236, 166);
}
a.social-last{
  margin-right: 0;
}
a.social:hover{
  background-color: #f30;
}
.social img {
  width: 30px;
  position: relative;
  top: 8px;
  left: 8px;
}
.social-group{
  padding-top: 1em;
  margin-left: 10px;
  margin-bottom: 2em;
}

.to-left {
  margin-left: 0;
}
#intro{
  /*width: 38em;*/
  font-size: 18px;
  line-height: 26px;
  margin-left: 10px ;
  margin-right: 10px;
}
#intro h2{
  line-height: 33px;
}
#intro p{
  margin-top: 0;
}
#intro h1 {
  margin-top: 12px;
  margin-bottom: 10px; 
  font-size: 28px; 
  clear: both;
}
#intro img{
  max-width: 100%;
}
#intro a{
  color: #f30;
  font-weight: 900;
}
#intro a:hover{
  color:black;
}
#me180x160 {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
.pull-right{
  margin-right: 0em;
}
.share_self{
  width: 300px;
  display:none;
  margin-right: 0;
}
#sig img{
  width: 100%
}
#disclaimer{
  /*float:left;*/
  margin-left: 10px;
  font-size: 13pt;
  margin-right: 10px;
  line-height: 24px;
}
#disclaimer b{
  color: white;
}
#copyright{
  /*float:right;*/
  margin-left: 10px;
  font-size: 13pt;
  margin-right: 10px;
}
/*styles for articles*/
.title1{
  margin-bottom: 10px;
}
.post-info{
  margin-bottom: 10px;
  font-size: 12pt;
  color:rgb(151, 151, 151);;
}
.thumbnail{
  float: left;
  margin-right: 10px;
  /*margin-bottom: 10px;*/
}
.article-item{
  clear: both;
  margin-bottom: 0.5em;
}
.side-intro{
  font-size: 16px;
  line-height: 26px;
}
.side-intro a{
  color:#f30;;
}
.page-num{
  margin-bottom: 1em;
}
#disqus_thread{
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (min-width: 390px){
  #me_mini{
    display: none;
  }
  #me_narrow{
    display: inline;
  }
}
/*weibo dispear*/
@media screen and (min-width: 450px){  
  #sig{
    display: none;
  }
  .article-item{
    padding-top: 0.5em;
  }
}
@media screen and (min-width: 680px){
  .header h1{
    float:left;
    margin-left: 16px;
  }
  .left{
    float:left;
  }
  .header ul{
    float: right;
  }
  .header ul li a{
    font-size: 12pt;
  }
  .pull-right{
    margin-right: 0;
  }
  #talk-medium{
    display:block;
  }
  #talk-small{
    display: none;
  }
  #talk-btn{
    float:right;
    padding: 1em 1em 1em 1em;
    background-color: #3e3e3e;
    color: white;
    margin-right: 16px;
    margin-top: 1em;
  }
  .social-group{
    margin-left: 16px;
  }
  a.social{
    margin-right: 2em;
  }
  #intro{
    /*width: 38em;*/
    font-size: 18px;
    line-height: 26px;
  }
}
@media screen and (min-width:980px ){
  .wrap-social{
    float: left;
  }
  .social-group{
    margin-left: 0;
  }
  #talk-medium{
    display: none;
  }
  #talk{
    display:block;
  }
  #me{
    display:inline;
  }
  #me_narrow{
    display: none;
  }
  .container-full {
    max-width: none;
    margin-left: 4em;
    margin-right: 4em;
  }
  .share_self{
    display: block;
  }
  .pull-right{
    margin-right: 0;
  }
  #two_column{
    position: relative;
  }
  #wrap_intro{
    float: left;
    margin-left: 0;
    margin-bottom: 2em;
  }
  #disclaimer{
    width: 300px;
    position: absolute;
  }
  #copyright{
    width: 300px;
    position: absolute;
    right:0;
    top:2em;
  }
  footer{
    height: 30em;
  }
  footer .container-full{
    position: relative;
  }
  #disclaimer{
    width: 400px;
    /*left:7em;*/
  }
  #copyright{
    width: 400px;
    /*right:7em;*/
  }
}
@media screen and (min-width:980px ){
  #wrap_intro{
    margin-top: 2em;
    width: 31em;
  }
}
@media screen and (min-width:1030px ){
  #wrap_intro{
    margin-left: 1.2em;
    width: 34em;
  }
}
@media screen and (min-width:1080px ){
  #wrap_intro{
    width: 36em;
  }
}
@media screen and (min-width:1130px ){
  #wrap_intro{
    width: 37em;
  }
}
@media screen and (min-width:1150px ){
  #wrap_intro{
    width: 40em;
  }
  #disclaimer{
    left: 4em;
    /*left:7em;*/
  }
  #copyright{
    right: 4em;
    /*right:7em;*/
  }
}
@media screen and (min-width:1200px ){
  #wrap_intro{
    width: 44em;
  }
}
@media screen and (min-width:1250px ){
  #wrap_intro{
    width: 47em;
  }
}
@media screen and (min-width:1300px ){
  #wrap_intro{
    margin-left: 3em;
    width: 46em;
  }
}
.first-item{
  padding-top: 0;
}
.center{
  text-align: center;
}




.pag-btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #fceaca;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fceaca;
  box-shadow:inset 0px 1px 0px 0px #fceaca;
  background-color:#ffce79;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #eeb44f;
  display:inline-block;
  color:#ffffff;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ce8e28;
}.pag-btn:hover {
  background-color:#eeaf41;
}.pag-btn:active ,.pag-btn:visited{
  position:relative;
  top:1px;
  color:#ffffff;
}
/* This imageless css button was generated by CSSButtonGenerator.com */