---
layout: base
title: 杳杳灵凤，绵绵长归
active: about
---
<img src="/images/me.jpg" id="me">
<img src="/images/me_narrow.jpg" id="me_narrow">
<img src="/images/me_mini.jpg" id="me_mini">
{% include talk_bar.html %}
<div id="two_column">
  <div class="container-full clear wrap-social pull-right" id="social-left">
    {% include social_group.html%}
    <a href="http://weibo.com/u/2108183154?s=6uyXnP" target="_blank" id="sig"><img border="0" src="http://service.t.sina.com.cn/widget/qmd/2108183154/c77742aa/1.png"/></a>
    <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=5&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=2108183154&verifier=c77742aa&dpc=1"></iframe>
  </div>
  <div class="container-full" id="wrap_intro">
    <div id="intro">
      <section>
        <h1>Meet Me...</h1>
        <img id="me180x160" src="/images/me180x160.jpg">
        <p>Hello, my name is Zhou Nie Lin. I was born and raised in the friendly city <a href="http://en.wikipedia.org/wiki/Ningbo">Ningbo</a> (Zhejiang Province.China). I am totally passionate about web development, coding in Java/Javascript, science fiction tv series, travelling, inline skating, jogging, playing basketball, listening to music and Latin dancing (for example, jive and waltz).</p>
      </section>
      <section>
        <h1>Studying at Shandong University(SDU)</h1>
        <p>I'm not a carpenter and I live in <a href="http://en.wikipedia.org/wiki/Jinan">Jinan</a>(China).Actually I am a software engineer.I choose the nickname 'carpenter in Milano' just for fun :P . In school my major is Software Engineering.</p>
      </section>        
      <section>
        <h1>Studying at Shandong University at Weihai(SDUW)</h1>
        <p>I spent the most unforgetable 4 years living and studying at Weihai.I like that city very much.</p>
      </section>
      <section>
        <h1>Life before SDUW</h1>
        <p>I graduated from Yuyao No.2 high scholl.I felt so lucky that I met my friends at that time who are worth making friends with for life long.</p>
      </section>
    </div>
  </div>
</div>