---
layout: base
title: 杳杳灵凤，绵绵长归
active: about
---
<!-- <img src="/images/me.jpg" id="me"> -->
<div id="image-container" style="">
  <img src="/images/1350x480.png" style="">
</div>
<script type="text/javascript">
  var imgs = ['me-jm.jpg']
  var idx = Math.floor(imgs.length*Math.random())
  document.getElementById("image-container").style.backgroundImage = "url(/images/"+imgs[idx]+")"
</script>
<!-- <img src="/images/me_narrow.jpg" id="me_narrow">
<img src="/images/me_mini.jpg" id="me_mini"> -->
{% include talk_bar.html %}
<div id="two_column">
  <div class="container-full clear wrap-social pull-right" id="social-left">
    {% include social_group.html%}
    <a href="http://weibo.com/u/2108183154?s=6uyXnP" target="_blank" id="sig"><img border="0" src="http://service.t.sina.com.cn/widget/qmd/2108183154/c77742aa/1.png"/></a>
    <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=5&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=2108183154&verifier=c77742aa&dpc=1"></iframe>
  </div>
  <div class="container-full" id="wrap_intro">
    <div id="intro">
      <section>
        <h1>Meet Me...</h1>
        <img id="me180x160" src="/images/me180x160.jpg">
        <p>Hello, my name is Zhou Nie Lin. I was born and raised in the friendly city <a href="http://en.wikipedia.org/wiki/Ningbo">Ningbo</a> (Zhejiang Province.China). I am totally passionate about web development, coding in Java/Javascript, science fiction tv series, travelling, inline skating, jogging, playing basketball, listening to music and Latin dancing (for example, jive and waltz).</p>
      </section>
      <section>
        <h1>Studying at Shandong University(SDU)</h1>
        <p>Currently I am studying at <a href="http://en.wikipedia.org/wiki/Shandong_University">Shandong University</a> in <a href="http://en.wikipedia.org/wiki/Jinan">Jinan</a>(China).My major is Software engineering.I choose the nickname 'carpenter in Milano' just for fun :P .</p>
      </section>        
      <section>
        <h1>Studying at Shandong University at Weihai(SDUW)</h1>
        <p>I spent the most unforgetable 4 years studying at <a href="http://baike.baidu.com/view/501200.htm?fromenter=%E5%B1%B1%E4%B8%9C%E5%A4%A7%E5%AD%A6%28%E5%A8%81%E6%B5%B7%29&enc=utf8">Shandong University at Weihai</a> then got my Bachelor of Engineering.I like that city very much.During the 4 years,I became so interesed in computer science and technology and did a lot of programing.Luckly,I finished my <a>Judge Agent OJ</a> project before I leaved the school and got an 'A' as my graduation results.</p>
      </section>
      <section>
        <h1>Life before SDUW</h1>
        <p>I graduated from <a href="http://baike.baidu.com/view/465160.htm?fromId=1529962">Yuyao No.2 high scholl</a>.I felt so lucky that I met my friends at that time who are worth making friends with for life long.However,life was so boring then and nothing special happened because we were so busy preparing for the evil 'Gaokao'.</p>
      </section>
    </div>
  </div>
</div>