<h2 class="center">About Me</h2>
<img src="/images/me300x200.jpg">
<p class="side-intro">Master Candidate. Student of SDU. Web Developer. Front-end Engineer. Java Programmer. Traveler. Science Fiction Addict. Dancer. Inline Skater. <a href="/">More</a></p>
{% include rss_button.html %}
<ul class="tag_cloud">
{% for category in site.categories %}
    <li style="font-size: {{ category | last | size | times: 50 | divided_by: site.categories.size |plus: 70 }}%">
        <a href="/articles/{{ category | first | slugize }}/">
            {{ category | first }}
        </a>
    </li>
{% endfor %}
	<li class="clear" style="margin-bottom:2em;"></li>
</ul>