<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" href="/css/style.css">
  <!--[if lt IE 9]>
    <script src="/js/shiv.js"></script>
  <![endif]-->
  <style type="text/css">
  
  </style>
</head>
<body>
  <header class="header">
    <div class="header-top">
      <div class="container-full">
        <h1 class="logo left block"><a href="">CARPENTER IN MILANO</a></h1>
        
      </div>
      <div class="container-nav">
        <nav class="nav right no-mobile">
          <ul class="no-style-list">
            <li><a class="primary-link active"href="">ABOUT ME</a></li>
            <li><a class="primary-link" href="">ARTCLES</a></li>
            <li><a class="primary-link" href="">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <img src="/images/me.jpg" id="me">
    <img src="/images/me_narrow.jpg" id="me_narrow">
    <img src="/images/me_mini.jpg" id="me_mini">
    <div class="talk-bar">
      <div class="container-full clear">
        <p id="talk">If you are interested in my experiences...</p>
        <p id="talk-medium">Feel interested? :-P</p>
        <p id="talk-small">Interested?</p>
        <a id="talk-btn" href="#" class="button orange-button mobile-full" title="Talk To Me :)">Talk To Me</a>
      </div>
    </div>
    
  </header>
  <div class="container-full clear left pull-right">
    <div class="social-group">      
      <a class="social weibo" href=""><img src="/images/weibo.png"></a>
      <a class="social github" href=""><img src="/images/github.png"></a>
      <a class="social gitcafe" href=""><img src="/images/gitcafe.png"></a>
      <a class="social oschina social-last" href=""><img src="/images/oschina.png"></a>
    </div>
    <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=5&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=2108183154&verifier=c77742aa&dpc=1"></iframe>
  </div>
  <div class="container-full left to-left">
    <div id="intro">
      <section>
        <h1>Meet Me...</h1>
        <img id="me180x160" src="/images/me180x160.jpg">
        <p>Hello, my name is Zhou Nie Lin. I was born and raised in the friendly city <a href="http://en.wikipedia.org/wiki/Ningbo">Ningbo</a> (Zhejiang Province.China). I am totally passionate about web development, coding in Java/Javascript, science fiction tv series, online marketing, inline skating, jogging, playing basketball, listening to music and Latin dancing (for example, jive and waltz).</p>
      </section>
      <section>
        <h1>Studying at Shandong University(SDU)</h1>
        <p>I'm not a carpenter and I live in <a href="http://en.wikipedia.org/wiki/Jinan">Jinan</a>(China).Actually I am a software engineer.I choose the nickname 'carpenter in Milano' just for fun :P . In school my major is Software Engineering.</p>
      </section>        
      <section>
        <h1>Studying at Shandong University at Weihai(SDUW)</h1>
        <p>I spent the most unforgetable 4 years living and studying at Weihai.I like that city very much.</p>
      </section>
      <section>
        <h1>Life before SDUW</h1>
        <p>I graduated from Yuyao No.2 high scholl.I felt so lucky that I met my friends that time who is worth making friends with for life long.</p>
      </section>
      
    </div>
  </div>
</body>
</html>