<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" href="/css/style.css">
  <!--[if lt IE 9]>
    <script src="/js/shiv.js"></script>
  <![endif]-->
  <style type="text/css">
  
  </style>
</head>
<body>
  <header class="header">
    <div class="header-top">
      <div class="container-full">
        <h1 class="logo left block"><a href="">CARPENTER IN MILANO</a></h1>
        <nav class="nav right no-mobile">
          <ul class="no-style-list">
            <li><a class="primary-link active"href="">ABOUT ME</a></li>
            <li><a class="primary-link" href="">ARTCLES</a></li>
            <li><a class="primary-link" href="">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <img src="/images/me.jpg" id="me">
    <div class="talk-bar">
      <div class="container-full clear">
        <p id="talk">If you are interested in my experiences...</p>
        <a id="talk-btn" href="#" class="button orange-button mobile-full" title="Talk To Me :)">Talk To Me</a>
      </div>
    </div>
    
  </header>
  <div class="container-full clear left">
    <div class="social-group">      
      <a class="social" href=""><img src="/images/weibo.png"></a>
      <a class="social" href=""><img src="/images/github.png"></a>
      <a class="social" href=""><img src="/images/gitcafe.png"></a>
      <a class="social social-last" href=""><img src="/images/oschina.png"></a>
    </div>
    <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=5&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=2108183154&verifier=c77742aa&dpc=1"></iframe>
  </div>
  <div class="container-full left to-left">
    <div id="intro">
      <section>
        <h1>Meet Me...</h1>
        <img id="me180x160" src="/images/me180x160.jpg">
        <p>Hello, my name is Zhou Nie Lin. I was born and raised in the friendly city <a href="http://en.wikipedia.org/wiki/Ningbo">Ningbo</a> (Zhejiang Province.China). I am totally passionate about web development, coding in Java/Javascript, science fiction tv series, online marketing, inline skating, jogging, playing basketball, listening to music and Latin dancing (for example, jive and waltz).</p>
      </section>
      <section>
        <h1>Studying at Shandong University(SDU)</h1>
      </section>        
      <section>
        <h1>Studying at Shandong University at Weihai(SDUW)</h1>
      </section>
      <section>
        <h1>Life before SDUW</h1>
      </section>
      
    </div>
  </div>
</body>
</html>