---
layout: base
active: articles
---
{% include talk_bar.html %}
<div id="two_column">
	<div class="container-full clear wrap-social pull-right" id="social-left">
		{% include social_group.html%}
		<div class="share_self">
   			{% include side_intro.html %}
  		</div>

	</div>
	<div class="container-full" id="wrap_intro">
		<div id="intro">
			<h2>{{ page.title }}</h2>
			<p class="meta"><span id="post_date">{{ page.date | date_to_string }}</span>>>Categories:<span id="tags">{% for c in page.categories %}
			<span><a href="/articles/{{ c }}">{{ c }}</a></span> 
			
			{% endfor %}
			</span>
			</p>

			<div class="post {% if page.lan == 'cn' %}cn {% else %}en{% endif %}">
				{{ content }}
			</div>
			{% if page.lan == 'cn' %}
			<p>（完）</p>
			{% else %}
			{% endif %}
			<!-- JiaThis Button BEGIN -->
			<div class="jiathis_style_32x32">
				<a class="jiathis_button_qzone"></a>
				<a class="jiathis_button_tsina"></a>
				<a class="jiathis_button_tqq"></a>
				<a class="jiathis_button_weixin"></a>
				<a class="jiathis_button_renren"></a>
				<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
				<a class="jiathis_counter_style"></a>
			</div>
			<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1367130437103222" charset="utf-8"></script>
			<!-- JiaThis Button END -->
			<div class="next-and-previous clear">
				<p><span >&lt;&lt;</span><a href="{{ page.previous.url }}">{{ page.previous.title}}</a></p>
				<p><span >&gt;&gt;</span><a href="{{ page.next.url }}">{{ page.next.title}}</a></p>
			</div>
		</div>
		
		<!-- Duoshuo Comment BEGIN -->
		<div class="ds-thread"></div>
		<script type="text/javascript">
			var duoshuoQuery = {short_name:"znlin"};
			(function() {
				var ds = document.createElement('script');
				ds.type = 'text/javascript';ds.async = true;
				ds.src = 'http://static.duoshuo.com/embed.js';
				ds.charset = 'UTF-8';
				(document.getElementsByTagName('head')[0] 
					|| document.getElementsByTagName('body')[0]).appendChild(ds);
			})();
		</script>
		<!-- Duoshuo Comment END -->
</div>
<div class="bottom_intro">
    <hr/>
   {% include side_intro.html %}
</div>
</div>