---
layout: base
title: Aticles from Lin
---
{% include talk_bar_articles.html %}
<div id="two_column">
  <div class="container-full clear wrap-social pull-right" id="social-left">
   {% include social_group.html%}
   {% include side_intro.html%}
 </div>
  <div class="container-full" id="wrap_intro">
    <div id="intro">
      {% for post in site.posts %}
      <section class="article-item">
        <h2 class="title1"><a href="#">{{ post.title }}</a></h2>
        <div class="post-info">Posted on {{ post.date | date_to_string }}</div>
		    <a href="#"><img class="thumbnail" src="/thumbnails/{{ post.thumbnail }}"></a>
        <p>{{ post.abstract }} <a href="#">[...]</a></p>
      </section>
      {% endfor %}
    </div>
    <div class="pagination clear"><span class="disabled">« Previous</span><span class="current">1</span><a href="?page=2">2</a><a href="?page=3">3</a><a href="?page=4">4</a><a href="?page=5">5</a><a href="?page=6">6</a><a href="?page=7">7</a>...<a href="?page=199">199</a><a href="?page=200">200</a><a href="?page=2" class="next">Next »</a></div>
  </div>
</div>
