---
layout: base
title: Aticles from Lin
active: articles
---
{% include talk_bar_articles.html %}
<div id="two_column">
  <div class="container-full clear wrap-social pull-right" id="social-left">
   {% include social_group.html%}
   {% include side_intro.html%}
 </div>
  <div class="container-full" id="wrap_intro">
    <div id="intro">
      {% for post in paginator.posts %}
      <section class="article-item">
        <h2 class="title1"><a href="{{ post.url}}">{{ post.title }}</a></h2>
        <div class="post-info">Posted on {{ post.date | date_to_string }}</div>
		    <a href="{{ post.url}}"><img class="thumbnail" src="/thumbnails/{{ post.thumbnail }}"></a>
        <p>{{ post.abstract }} <a href="{{ post.url}}">[...]</a></p>
      </section>
      {% endfor %}
    </div>
    <div class="pag-group clear center">
      <div class="page-num">
        Page <span>{{ paginator.page }}</span> of <span>{{ paginator.total_pages }}</span>
      </div>
      {% assign link = "/articles/page-{{ paginator.previous_page }}/" %}
      {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      {% assign link = "/articles/" %}
      {% endif %}
      <a href="{{ link }}" class="pag-btn">&lt;&lt;Previews</a>
      {% else %}
      <span class="pag-btn">&lt;&lt;Previews</span>
      {% endif%}
      {% if paginator.next_page %}
      <a href="/articles/page-{{ paginator.next_page }}" class="pag-btn">Next&gt;&gt;</a>
      {% else %}
      <span class="pag-btn">Next&gt;&gt;</span>
      {% endif%}
    </div>
  </div>  
</div>
